.card {
  width: 25%;
  display: inline-block;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 100%;
}

.m-link-text {
  color: ivory;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Karla', sans-serif;

}

.m-link-text:hover{
  color: black;
}

.l-link-text {
  color: ivory;
  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Karla', sans-serif;
}

.l-link-text:hover{
  color: black;
}

.subscribeButton {
  margin: 12px;
  background-color: #2f2d8e;
  color: white;
}

.selectedCart {
  position: sticky;
  padding-bottom: 20px;
}
.cartHeader {
  text-align: center;
}

.cart-items {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  text-align: right;
  font-size: 15px;
}
